Task1/hello
Task2/sum
Task3/MultiThread/multiarr
Task3/SingleThread/singlearr
Task4/MultiThread/multimatr
Task4/SingleThread/singlematr
Task5/ArcSin/asin
Task5/Exponent/exp
Task6/Eratosthenes/eratosth
Task6/MultiThread/prime
Task6/SingleThread/prime
Task8/sort
Task8/sorted.txt
bugged_progs/b*
.vscode
*.txt
